
/* =================== */
/* ---Hero Styles---- */
/* =================== */




  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }

.hero-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  filter: brightness(0.35);
  z-index: 1;
}


  /* Content */
  .hero-content {
    position: relative;
    z-index: 10;
    max-width: 900px;
    padding: 0 20px;
  }

  .hero-content h1 {
    margin-top: 4rem;
    font-family: Barlow;
    font-weight: 400;
    font-style: Regular;
    font-size: 91px;
    line-height: 100%;
    letter-spacing: -4%;
    color: #F5F5F5;

  }

  .btn-shopnow {
    width: 159px;
    margin-top: 4rem;
    display: inline-block;
    padding: 12px 40px;
    font-family: Barlow;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #F5F5F5;
    /* White text */
    background-color: transparent;
    /* Transparent background */
    border: 1px solid #fff;
    /* White 1px border */
    border-radius: 100px;
    /* Fully rounded (pill shape) */
    cursor: pointer;
    text-decoration: none;
  }


  /* Responsive */
  @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 2.4rem;
    }

    .hero-content p {
      font-size: 1rem;
    }

    .btn-signup {
      padding: 12px 32px;
      font-size: 1rem;
    }
};
